@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root{
    --defaultBackgroundColor:#17171B;
    --maxMainInnerWidth:2500px; 
    --maxCardWidth:600px;
}

#home-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #17171B;
}

#main-content-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main-inner-container{
    width: 95%;
    margin: 0 auto;
    max-width: var(--maxMainInnerWidth);
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

#introduction-wrapper{
    flex: 1;
    /* border: 2px solid red; */
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    /* height: 100%;
    min-height: calc(100vh - 6vh); */
}

.intro-column{
    flex: 1;
}

#introduction-header-container{
    /* background-color: green; */
    color: #fff;
}

#me-img{
    max-width: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

/* #about-me-text{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
} */

#surname-word{
    color: #ff1e00;
}

#introduction-header-container>h1{
    font-size: 1.6rem;
    margin: 0.1rem 1rem;
    text-align: center;
}

#about-me-container>h3{
    font-size: 1.5rem;
}

#about-me-container>h3::after{
    content: '';
    display: block;
    height: 5px;    
    background-color: black;
    width: 0;
    transition: 1s ease-in-out;
    margin: 0 auto;
}

#about-me-container>h3:hover::after{
    width: 100px;
}

#about-text-container{
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid red;
}

#about-me-text{
    font-size: 1.4rem;
    font-family: Roboto;
}

#action-btn-container{
    margin: 2rem 0;
}

.action-btn>button{
    display: block;
    width: 95%;
    padding: 0.7rem 1.5rem;
    margin: 1rem auto;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: rgb(255, 65, 54);
    /* max-width: 200px; */
}

#action-btn1{
    text-align: center;
}

#action-btn1>a>img{
    /* max-width: 20%; */
    width: 50px;
    height: 50px;
}

#image-container{
    background-color: red;
    display: none;
}

#about-me-container{
    margin: 3rem 0;
    text-align: center;
}

#about-me-container{
}

#about-me-text{
    color: #fff;
}

#about-me-container>h3{
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

#about-list-container{
    padding: 1rem;
}

#age::before{
    content: url('../../assets/age.png');
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
} 

.about-item{
    font-size: 1.1rem;
    margin: 0 0 1rem 0rem;
    text-align: center;
    /* margin: 1rem; */
    color: #fff;
}

#place::before{
    content: url('../../assets/place.png');
    /* margin: 0 0.5rem 0 0; */
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

#nationality::before{
    content: url('../../assets/nation.png');
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

#nationality::after{
    /* content: url('../../assets/nation.png');
    margin: 1rem; */
    /* vertical-align: middle; */
}

#form-container{
    max-width: var(--maxCardWidth);
    margin: 0 auto;
    padding: 1rem 0;
}

#form-container>h3{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

#sender-name{
    padding: 0.5rem;
}

#skills-container{
    /* padding: 0.5rem; */
    /* min-height: 90vh;   */
    /* border: 2px solid red; */
}

.skills-column>h1{
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

#skills-cards-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 1rem;
}

#skills-cards-container>#skills-card{
    /* border: 2px solid red; */
}

.skills-column{
    margin: 1rem 0;
    /* border: 2px solid red; */
}

#future-technologies-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 1rem;
}

#future-technologies-container>#skills-card{
    /* border: 2px solid red; */
    padding: 1rem;
    margin: 1rem 0;
}

#seperator-container{
    display: none;
}

#contact-container{
    margin: 1.5rem 0;
}

#project-container{
    min-height: 100vh;
    margin: 2.5rem 0 0 0;
}

#project-container>h1{
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}


@media screen and (min-width:768px){
    #introduction-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #me-img{
        width: 350px;
        height: 350px;
    }

    #introduction-header-container{
        flex: 1;
    }

    #action-btn-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 5rem 0 0 0;
        /* border: 2px solid red; */
    }

    #action-btn1{
        margin: 0 2rem;
    }

    #action-btn2>button{
        width: auto;
        padding: 1rem 2.5rem;
    }

    #about-list-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-item{
        margin: 0;
        margin: 0 0.8rem;
    }

    #skills-cards-container{
        grid-template-columns: repeat(3,1fr);
        padding: 0;
        margin: 0;
    }

    #future-technologies-container{
        display: flex;
        flex-direction: row;
        flex: 0 0 200px;
        justify-content: space-evenly;
        padding: 1rem;
    }

    #skills-container{
        display: flex;
        flex-direction: row;    
        /* padding: 0 1rem; */  
    }

    .skills-column{
        width: 50%;
        border: 2px solid red;
    }

}